// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders .pagination {
    background: #008000;
    a {
        color: #bfb;
        text-decoration: none;
    }
    a:hover {
        background: none;
        color: white;
    }
}